
# Hello World

This is an example intended just to get you using the tools that will be used in this class.

This is standard Markdown used by many tools including but not limited to Google colab, jupyter notebooks, github, and bitbucket.

```
# this is a code block
x = 10
print(x)
```

Example table using markdown

|x  | y   |
|---|-----|
| 1 | 12  |
| 2 | 15  |
| 3 | 7   |

Example equation using LaTeX

$$\int_{x=0}^\infty x^2 dx$$

Another Example $$x^3$$

# Upload train.csv

To do this select "File -> Upload data to dbfs" and then click on "Drop files to upload or click to browse".

In [0]:

display(dbutils.fs.ls("/FileStore/shared_uploads/harrison@cs.olemiss.edu/"))

path,name,size,modificationTime
dbfs:/FileStore/shared_uploads/harrison@cs.olemiss.edu/train.csv,train.csv,61194,1706306094000

In [0]:
import io
import pandas as pd

file_path = "dbfs:/FileStore/shared_uploads/harrison@cs.olemiss.edu/train.csv"
file_content = dbutils.fs.head(file_path, 1000) # Adjust the second parameter as needed based on the file size
print(file_content)

[Truncated to first 1000 bytes]
PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.25,,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",female,38,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,STON/O2. 3101282,7.925,,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,53.1,C123,S
5,0,3,"Allen, Mr. William Henry",male,35,0,0,373450,8.05,,S
6,0,3,"Moran, Mr. James",male,,0,0,330877,8.4583,,Q
7,0,1,"McCarthy, Mr. Timothy J",male,54,0,0,17463,51.8625,E46,S
8,0,3,"Palsson, Master. Gosta Leonard",male,2,3,1,349909,21.075,,S
9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27,0,2,347742,11.1333,,S
10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14,1,0,237736,30.0708,,C
11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4,1,1,PP 9549,16.7,G6,S
12,1,1,"Bonnell, Miss. Elizabeth",female,58,0,0,113783,26.55,C103,S
13,0,3,"Saundercock, Mr. William Henry",m

## Part 4: Use a DataFrame

Extend the "Hello World" notebook from wihtin Databricks to load `train.csv` into a DataFrame.  Outputthe first 10

From the Titanic dataset `train.csv`.

In [0]:
import pandas as pd
# df = pd.read_csv(file_path)
file_path = "/dbfs/FileStore/shared_uploads/harrison@cs.olemiss.edu/train.csv"

# Read the CSV file into a Pandas DataFrame
df = pd.read_csv(file_path)

---------------------------------------------------------------------------
FileNotFoundError                         Traceback (most recent call last)
File <command-46030932842045>:6
      3 file_path = "/dbfs/FileStore/shared_uploads/harrison@cs.olemiss.edu/train.csv"
      5 # Read the CSV file into a Pandas DataFrame
----> 6 df = pd.read_csv(file_path)

File /databricks/python/lib/python3.9/site-packages/pandas/util/_decorators.py:311, in deprecate_nonkeyword_arguments.<locals>.decorate.<locals>.wrapper(*args, **kwargs)
    305 if len(args) > num_allow_args:
    306     warnings.warn(
    307         msg.format(arguments=arguments),
    308         FutureWarning,
    309         stacklevel=stacklevel,
    310     )
--> 311 return func(*args, **kwargs)

File /databricks/python/lib/python3.9/site-packages/pandas/io/parsers/readers.py:680, in read_csv(filepath_or_buffer, sep, delimiter, header, names, index_col, usecols, squeeze, prefix, mangle_dupe_cols, dtype, engine, converters, true_values, false_values, skipinitialspace, skiprows, skipfooter, nrows, na_values, keep_default_na, na_filter, verbose, skip_blank_lines, parse_dates, infer_datetime_format, keep_date_col, date_parser, dayfirst, cache_dates, iterator, chunksize, compression, thousands, decimal, lineterminator, quotechar, quoting, doublequote, escapechar, comment, encoding, encoding_errors, dialect, error_bad_lines, warn_bad_lines, on_bad_lines, delim_whitespace, low_memory, memory_map, float_precision, storage_options)
    665 kwds_defaults = _refine_defaults_read(
    666     dialect,
    667     delimiter,
   (...)
    676     defaults={"delimiter": ","},
    677 )
    678 kwds.update(kwds_defaults)
--> 680 return _read(filepath_or_buffer, kwds)

File /databricks/python/lib/python3.9/site-packages/pandas/io/parsers/readers.py:575, in _read(filepath_or_buffer, kwds)
    572 _validate_names(kwds.get("names", None))
    574 # Create the parser.
--> 575 parser = TextFileReader(filepath_or_buffer, **kwds)
    577 if chunksize or iterator:
    578     return parser

File /databricks/python/lib/python3.9/site-packages/pandas/io/parsers/readers.py:933, in TextFileReader.__init__(self, f, engine, **kwds)
    930     self.options["has_index_names"] = kwds["has_index_names"]
    932 self.handles: IOHandles | None = None
--> 933 self._engine = self._make_engine(f, self.engine)

File /databricks/python/lib/python3.9/site-packages/pandas/io/parsers/readers.py:1217, in TextFileReader._make_engine(self, f, engine)
   1213     mode = "rb"
   1214 # error: No overload variant of "get_handle" matches argument types
   1215 # "Union[str, PathLike[str], ReadCsvBuffer[bytes], ReadCsvBuffer[str]]"
   1216 # , "str", "bool", "Any", "Any", "Any", "Any", "Any"
-> 1217 self.handles = get_handle(  # type: ignore[call-overload]
   1218     f,
   1219     mode,
   1220     encoding=self.options.get("encoding", None),
   1221     compression=self.options.get("compression", None),
   1222     memory_map=self.options.get("memory_map", False),
   1223     is_text=is_text,
   1224     errors=self.options.get("encoding_errors", "strict"),
   1225     storage_options=self.options.get("storage_options", None),
   1226 )
   1227 assert self.handles is not None
   1228 f = self.handles.handle

File /databricks/python/lib/python3.9/site-packages/pandas/io/common.py:789, in get_handle(path_or_buf, mode, encoding, compression, memory_map, is_text, errors, storage_options)
    784 elif isinstance(handle, str):
    785     # Check whether the filename is to be opened in binary mode.
    786     # Binary mode does not support 'encoding' and 'newline'.
    787     if ioargs.encoding and "b" not in ioargs.mode:
    788         # Encoding
--> 789         handle = open(
    790             handle,
    791             ioargs.mode,
    792             encoding=ioargs.encoding,
    793             errors=errors,
    794             newline="",
    795         )
    796     else:
    797         # Binary mode
    798         handle = open(handle, ioargs.mode)

FileNotFoundError: [Errno 2] No such file or directory: '/dbfs/FileStore/shared_uploads/harrison@cs.olemiss.edu/train.csv'

In [0]:
import pandas as pd
import tempfile
import shutil

# Original DBFS file path
dbfs_file_path = "dbfs:/FileStore/shared_uploads/harrison@cs.olemiss.edu/train.csv"

# Create a temporary file
with tempfile.NamedTemporaryFile() as temp_file:
    # Copy the file from DBFS to the local file system using dbutils
    dbutils.fs.cp(dbfs_file_path, "file:" + temp_file.name)

    # Read the CSV file into a Pandas DataFrame
    df = pd.read_csv(temp_file.name)

# Display the DataFrame
df.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C


Instead of copying the file from dbfs to use read_csv on a local file, we can 
use a Spark DataFrame.  Spark will read from dbfs directly.

In [0]:
dbfs_file_path = "dbfs:/FileStore/shared_uploads/harrison@cs.olemiss.edu/train.csv"

# Read CSV file into a Spark DataFrame
df = spark.read.csv(dbfs_file_path, header=True, inferSchema=True)
df.show(n=10)  # df.show() is analogous to df.head()

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25| null|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| null|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05| null|       S|
|          6|       0|     3|    Moran, Mr. James|  male|null|    0|    0|          330877| 8.4583| null|       Q|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|54.0|    0|    0|           17463|51.8625|  E46|       S|
|          8|       0|     3|Palsson, Master. ...|  male| 2.0|    3|    1|          349909| 21.075| null|       S|
|          9|       1|     3|Johnson, Mrs. Osc...|female|27.0|    0|    2|          347742|11.1333| null|       S|
|         10|       1|     2|Nasser, Mrs. Nich...|female|14.0|    1|    0|          237736|30.0708| null|       C|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 10 rows


As an alternative to using a Spark DataFrame, we can use Spark to create a Pandas DataFrame.

In [0]:
from pyspark.sql import SparkSession

dbfs_file_path = "dbfs:/FileStore/shared_uploads/harrison@cs.olemiss.edu/train.csv"

# Initialize SparkSession (In Databricks, SparkSession is already initialized for you as 'spark')
spark = SparkSession.builder.appName("myApp").getOrCreate()

# Read the file from DBFS into a Spark DataFrame
# Replace 'path/to/your/file.csv' with the actual path to your file in DBFS
spark_df = spark.read.csv(dbfs_file_path, header=True, inferSchema=True)

# Convert the Spark DataFrame to a Pandas DataFrame
pandas_df = spark_df.toPandas()

# Now you can work with the Pandas DataFrame as usual
pandas_df.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,None,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,None,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,None,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,None,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,None,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,None,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,None,C


Unfortunately downloading to the local filesystem will not scale to large databases.
A better option is to use pyspark.pandas which provides a Pandas interface
to Spark.

In [0]:
from pyspark.pandas import read_csv

# Specify the path to the train CSV file in DBFS
# Note: When using pyspark.pandas, you don't need to use the '/dbfs/' prefix.
# Just use the 'dbfs:/' schema.
dbfs_file_path = "dbfs:/FileStore/shared_uploads/harrison@cs.olemiss.edu/train.csv"

# Read the CSV file into a Pandas-on-Spark DataFrame
ps_df = read_csv(dbfs_file_path)

# Show the first few rows of the DataFrame
ps_df.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,None,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,None,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,None,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,None,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,None,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,None,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,None,C

## Insert code here for showing a histogram of the age distribution

From the Titanic dataset `train.csv` using `matplotlib`.

In [0]:
import matplotlib.pyplot as plt
import numpy as np
bin_years = 5.  # each bin spans in bin_years.

min_age = df["Age"].min()
max_age = df["Age"].max()
# arange returns evenly spaced values within a range 
bins = np.arange(min_age, max_age + bin_years, bin_years)
plt.title("Histogram of Ages")
plt.xlabel("Years")
plt.ylabel("Number of Passengers")
plt.hist(df["Age"], bins)


## Export the modified notebook

Select menu "File -> Export -> DBC archive"

## Upload your exported notebook to blackboard HW1.